<ngx-loading [show]="loading"></ngx-loading>
<ngb-tabset>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Random characters</b></ng-template>
    <ng-template ngbTabContent>
      <form [formGroup]="rc_form">
        <div class="form-group">
          <input formControlName="password_length" id="passwordLength" class="form-control" placeholder="Password length"
                 type="number" min="20" required aria-label="Password length" data-toggle="tooltip" data-placement="top"
                 title="Password length (min. 20 characters)">
        </div>
        <div formArrayName="character_groups" *ngFor="let group of rc_form.get('character_groups').controls; let i = index;">
          <div [formGroupName]="i" class="form-inline">
            <div class="form-group rc_group">
              <textarea class="form-control" formControlName="value" placeholder="Character group"
                        required id="characterGroup" aria-label="Character group"
                        data-toggle="tooltip" data-placement="top" title="Character group"></textarea>
            </div>
            <button type="button" class="btn btn-danger" (click)="removeRCCharacterGroup(i)" *ngIf="rc_character_groups.length > 1">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-success" (click)="addRCCharacterGroup()">
            <i class="fas fa-plus"></i>
            Add character group
          </button>
        </div>
        <button type="button" class="btn btn-primary" (click)="onRCSubmit()">Submit</button>
      </form>
      <p>
        <ngb-alert [type]="rc_password_alert_type" *ngIf="rc_show_generation_results" [dismissible]="false">
          <h3 class="alert-heading">{{rc_password.password}}</h3>
          <password-strength-meter [password]="rc_password.password"></password-strength-meter>
          <b>Entropy: </b> {{rc_password.entropy}}
          <div>
            <b>Is the password safe: </b> {{rc_password.isSafe}}
          </div>
        </ngb-alert>
      </p>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Random words</b></ng-template>
    <ng-template ngbTabContent>
      <form [formGroup]="rw_form">
        <div class="form-group">
          <input formControlName="password_length" id="rwPasswordLength" class="form-control" placeholder="Password length"
                 type="number" min="10" required data-toggle="tooltip" data-placement="top" title="Password length (min. 10 characters)" />
        </div>
        <fieldset class="form-group">
          <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Case sensitivity</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input type="radio" class="form-check-input" name="rwCase" formControlName="rwCase" id="rwRandom" value="random" checked>
                <label class="form-check-label" for="rwRandom">
                  RaNDom
                </label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" name="rwCase" formControlName="rwCase" id="rwCamel" value="camel">
                <label class="form-check-label" for="rwCamel">
                  CamelCase
                </label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" name="rwCase" formControlName="rwCase" id="rwWords" value="words">
                <label class="form-check-label" for="rwWords">
                  wordsRANDOMLY
                </label>
              </div>
            </div>
          </div>
        </fieldset>
        <div formArrayName="character_mappings" *ngFor="let group of rw_form.get('character_mappings').controls; let i = index;">
          <div [formGroupName]="i" class="form-inline">
            <div class="form-group rw_group">
              <label for="rwMappedCharacter" class="sr-only">Mapped character</label>
              <input class="form-control mb-2 mr-sm-2" id="rwMappedCharacter" type="text" maxlength="1" required="required"
                     placeholder="Mapped character" formControlName="character" data-toggle="tooltip" data-placement="top" title="Mapped single character">

              <label for="rwMapping" class="sr-only">Mapping</label>
              <input class="form-control mb-2 mr-sm-2" id="rwMapping" type="text" placeholder="Mappings" required="required"
                     formControlName="mapping" data-toggle="tooltip" data-placement="top" title="Characters which could replace given character">

              <label for="rwMappingChance" class="sr-only">Mapping chance</label>
              <div class="input-group mb-2 mr-sm-2">
                <input type="number" id="rwMappingChance" class="form-control" placeholder="Mapping chance" required="required"
                       min="0" max="100" formControlName="chance" aria-describedby="rwMappingChancePercent"
                       data-toggle="tooltip" data-placement="top" title="Chance of given character replacement">
                <div class="input-group-append">
                  <div id="rwMappingChancePercent" class="input-group-text">%</div>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-danger" (click)="removeRWCharacterGroup(i)" *ngIf="rw_character_mappings.length > 1">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-success" (click)="addRWCharacterGroup()">
            <i class="fas fa-plus"></i>
            Add character mapping
          </button>
        </div>
        <button type="button" class="btn btn-primary" (click)="onRWSubmit()">Submit</button>
      </form>

      <p>
        <ngb-alert [type]="rw_password_alert_type" *ngIf="rw_show_generation_results" [dismissible]="false">
          <h3 class="alert-heading">
            <b *ngFor="let passwordWord of rw_password.passwordWords; let i = index;" [style.color]="rw_password.colors[i]">{{passwordWord.trim()}}</b>
          </h3>
          <span *ngFor="let usedWord of rw_password.used_words; let i = index;" [style.color]="rw_password.colors[i]">
            {{usedWord}}
          </span>
          <br />
          <b>Entropy: </b> {{rw_password.entropy}}
          <div>
            <b>Is the password safe: </b> {{rw_password.isSafe}}
          </div>
          <password-strength-meter [password]="rw_password.password"></password-strength-meter>
        </ngb-alert>
      </p>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Random words from songs</b></ng-template>
    <ng-template ngbTabContent>
      <form [formGroup]="rwfs_form">
        <div class="form-group">
          <input formControlName="password_length" id="rwfsPasswordLength" class="form-control" placeholder="Password length"
                 type="number" min="10" required data-toggle="tooltip" data-placement="top" title="Password length (min. 10 characters)">
        </div>
        <div class="form_group">
          <input formControlName="artist" id="rwfsArtist" class="form-control" placeholder="Artist name" type="text"
          required="required" data-toggle="tooltip" data-placement="top" title="Artist name">
        </div>
        <fieldset class="form-group">
          <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Case sensitivity</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input type="radio" class="form-check-input" name="rwfsCase" formControlName="rwfsCase" id="rwfsRandom" value="random" checked>
                <label class="form-check-label" for="rwRandom">
                  RaNDom
                </label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" name="rwfsCase" formControlName="rwfsCase" id="rwfsCamel" value="camel">
                <label class="form-check-label" for="rwfsCamel">
                  CamelCase
                </label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" name="rwfsCase" formControlName="rwfsCase" id="rwfsWords" value="words">
                <label class="form-check-label" for="rwfsWords">
                  wordsRANDOMLY
                </label>
              </div>
            </div>
          </div>
        </fieldset>
        <div formArrayName="character_mappings" *ngFor="let group of rwfs_form.get('character_mappings').controls; let i = index;">
          <div [formGroupName]="i" class="form-inline">
            <div class="form-group rw_group">
              <label for="rwfsMappedCharacter" class="sr-only">Mapped character</label>
              <input class="form-control mb-2 mr-sm-2" id="rwfsMappedCharacter" type="text" maxlength="1" required="required"
                     placeholder="Mapped character" formControlName="character" data-toggle="tooltip" data-placement="top" title="Mapped single character">

              <label for="rwfsMapping" class="sr-only">Mapping</label>
              <input class="form-control mb-2 mr-sm-2" id="rwfsMapping" type="text" placeholder="Mappings" required="required"
                     formControlName="mapping" data-toggle="tooltip" data-placement="top" title="Characters which could replace given character">

              <label for="rwfsMappingChance" class="sr-only">Mapping chance</label>
              <div class="input-group mb-2 mr-sm-2">
                <input type="number" id="rwfsMappingChance" class="form-control" placeholder="Mapping chance" required="required"
                       min="0" max="100" formControlName="chance" aria-describedby="rwfsMappingChancePercent"
                       data-toggle="tooltip" data-placement="top" title="Chance of given character replacement">
                <div class="input-group-append">
                  <div id="rwfsMappingChancePercent" class="input-group-text">%</div>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-danger" (click)="removeRWFSCharacterGroup(i)" *ngIf="rwfs_character_mappings.length > 1">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-success" (click)="addRWFSCharacterGroup()">
            <i class="fas fa-plus"></i>
            Add character mapping
          </button>
        </div>
        <button type="button" class="btn btn-primary" (click)="onRWFSSubmit()">Submit</button>
      </form>

      <p>
        <ngb-alert [type]="rwfs_password_alert_type" *ngIf="rwfs_show_generation_results" [dismissible]="false">
          <div>
            <h3 class="alert-heading">
              <b *ngFor="let passwordWord of rwfs_password.passwordWords; let i = index;" [style.color]="rwfs_password.colors[i]">{{passwordWord.trim()}}</b>
            </h3>
            <span *ngFor="let usedWord of rwfs_password.used_words; let i = index;" [style.color]="rwfs_password.colors[i]">
              {{usedWord}}
            </span>
            <br />
            <b>Entropy: </b> {{rwfs_password.entropy}}
            <div>
              <b>Is the password safe: </b> {{rwfs_password.isSafe}}
            </div>
            <password-strength-meter [password]="rwfs_password.password"></password-strength-meter>

            <div class="alert-heading">
              <h4>{{rwfs_password.song_name}}</h4>
              <pre>{{rwfs_password.lyrics}}</pre>
            </div>
          </div>
        </ngb-alert>
      </p>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
