.rc_group {
  width: 95%;
  margin: 10px 0px 5px 0px;
}

.rc_group textarea {
  width: 95%;
}

.rw_group {
  width: 95%;
  margin: 10px 0px 5px 0px;
}

.rw_group input {
  width: 65%;
}

#rwMappedCharacter, #rwfsMappedCharacter {
  width: 15%;
}
