<ngb-tabset>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Random characters</b></ng-template>
    <ng-template ngbTabContent>
      <form [formGroup]="rc_form" (submit)="onRCSubmit()">
        <div formArrayName="character_groups"
             *ngFor="let group of rc_form.get('character_groups').controls; let i = index;">
          <div [formGroupName]="i" class="form-inline">
            <div class="form-group rc_group">
              <textarea class="form-control" formControlName="value" placeholder="Character group"
                        required id="characterGroup" aria-label="Character group"></textarea>
            </div>
            <button type="button" class="btn btn-danger" (click)="removeRCCharacterGroup(i)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </div>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-success" (click)="addRCCharacterGroup()">
            <span class="glyphicon glyphicon-plus"></span>
            Add character group
          </button>
        </div>
        <div class="form-group">
          <input formControlName="password_length" id="passwordLength" class="form-control" placeholder="Password length"
                 type="number" min="10" required aria-label="Password length" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Random words</b></ng-template>
    <ng-template ngbTabContent>
      <u>TEST</u>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Random words from art</b></ng-template>
    <ng-template ngbTabContent>
      <i>TEST</i>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
